<div class="wrapper fadeInDown my-5">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
       <h1 class="my-4">SignUp</h1>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" class="fadeIn second" name="email" placeholder="Name">
        <input type="text" class="fadeIn third" name="password" placeholder="Email">
        <input type="text" class="fadeIn third" name="password" placeholder="Phone">
        <input type="text" class="fadeIn third" name="password" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Submit">
      </form>
  
      
    </div>
  </div>