<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>BookFlight</display-name>
    <servlet-name>BookFlight</servlet-name>
    <servlet-class>BookFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlight</servlet-name>
    <url-pattern>/BookFlight</url-pattern>
  </servlet-mapping>
  <display-name>Airline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New</display-name>
    <servlet-name>New</servlet-name>
    <servlet-class>New</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New</servlet-name>
    <url-pattern>/New</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicket</display-name>
    <servlet-name>BookTicket</servlet-name>
    <servlet-class>BookTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicket</servlet-name>
    <url-pattern>/BookTicket</url-pattern>
  </servlet-mapping>
</web-app>